---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.my-text-center .page__title {
    text-align: center;
}

.my-text-center .page__excerpt {
    text-align: center;
    margin-top: 10px; /* Adjust for spacing */
    font-size: 1.2em; /* Optional: Adjust for readability */
}